*{
    margin: 10;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: middle; 
}

.logo a {
    text-decoration:none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 5px;
}

.logo {
    float:none;
    margin-right: 100px;
    margin-left: 10px;
  }

  body {
    text-align:center;
    font-family: sans-serif;   
}

.head {
    display: flex;
    align-items: center;
    justify-content:left;
    height: 150px;
    background: #000000;
    position: center;
    width: 100%;

}

.navbar {
    display:inline-block;
    margin-right: 90px;
}

.navbar a {
    display:contents;
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
}
.navbar a:hover {
    background: #9c9c95; 
}

.btn:hover {
    background: none; 
}

.header {
    height: 50vh !important;
    background: url(imagenes/ff.jpg) no-repeat center;
    background-size: cover;
}

.title {
    font-size: 50px;
    font-weight: 10;
    text-transform: uppercase;
    color: #f0d911;
    margin-right: 90px;
    margin-left: 90px;
}

p {
    margin-bottom: 40px;
    font-size: 30px;
    color: #ffffff;
    padding: 0 90px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    border: 2px solid #f6fa01;
    color: #fff;
    text-decoration: none;
    background: #000000;
}

.btn-home {
    display:flexbox;
}

.btn-home a {
    margin: 0 100px;
}
.content {
    height: 200vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sau {
    padding:1px;
    background: #000000
}
.box-container {
    display: flex;
    justify-content: center;
    flex-wrap:nowrap;
    text-align: center;
}.box-container .box {
    height: 20rem;
    width: 17rem;
    background: #000000;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 0 .2rem 1rem rgba(228, 224, 20, 0.5);
    margin: 2rem;   
}

.box-container .box i {
    height: 6rem;
    width: 4rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 200%;
    font-size: 2rem;
    margin: 2rem 0;
}

.box-container .box h3 {
    font-size: 20px;
    color: #eeff00;
}

.box-container .box p {
    padding: 0 15px;
    font-size: 20px;
}
.about {
    background: #171717;
    height: 100vh;
}

.price {
    background: url(imagenes/ff.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    height: 100vh;
}
.contact {
    padding-top: 390px;
    background: #171717;
    height: 50vh;
}

.contact h2{
    top: 1500px;
    margin-top: -750px;
}

.map {position: absolute;
    border: 10px solid;
    float: left; width: 500px;
    margin-right: 700px;
    top: 1000px;
    margin-top: 165%;
 }
 .redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .redes-sociales a {
    display: inline-block;
    margin-right: 2px;
  }
  
  .redes-sociales img {
    width: 30px;
    height: 30px;
    border-radius: 10%;
    border: none;
    box-shadow: none;
  }
  .form-group {
    margin-bottom: 1em;
    color: #fbff0bd5;
  }

  label {
    display: block;
    margin-bottom: 0.1em;
    font-weight: bold;
  }

input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  padding: 0.em;
  font-size: 1em;
  border: 4spx solid #ccc;
  border-radius: 8px;
}

button[type="submit"] {
    display: block;
    margin-top: 1em;
    padding: 0.3em 1em;
    font-size: 1em;
    font-weight: bold;
    background-color: #eeff03;
    color: #000000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #b1b1b1;
  }
  
  #formulario {
      position: absolute;
      top: 3240px;
      left: 70%;
      transform: translateX(-10%);
    }